<mat-toolbar class="topStick">
    <mat-toolbar-row class="justify-content-between">
        <div class="input-group mb-1" style="width:fit-content">
            <div class="input-group-prepend">
                <span class="input-group-text" style="background-color: rgb(249, 249, 249);border: none;">
                    <mat-icon>search</mat-icon>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Search"
                style="background-color: rgb(249, 249, 249);border: none;">
        </div>
        <div class="row mr-2 ml-auto">
            <ul>
                <li class="lis">
                    <mat-icon class="icon" style="color: rgb(196, 196, 196);">help_outline</mat-icon>
                </li>
                <li class="lis">
                    <mat-icon class="icon">notifications_none</mat-icon>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="width:fit-content;border:none">
                        Username
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            Logout
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <div style="margin-left: 1rem;">
            {{page}}
        </div>
        <div class="row mr-2 ml-auto">
            <ul>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menuFilter" style="width:fit-content;border:none">
                        This Week
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menuFilter="matMenu">
                        <button mat-menu-item>
                            This Month
                        </button>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>