<div >
  <h1 mat-dialog-title>Change Status</h1>
  <div mat-dialog-content>
    <div>
      <form #modalFrom="ngForm">
        <div class="form-group">
          <label style="text-align: center;">
            Move Form
          </label>
          <select class="form-control" [(ngModel)]="moveFrom" name="moveFrom">
            <option value="toDo">To Do</option>
            <option value="inProgress">In Progress</option>
            <option value="completed">Completed</option>
          </select>  
        </div>
        <div class="form-group">
          <label style="text-align: center;">
            Move To
          </label>
          <select class="form-control" [(ngModel)]="moveTo" name="moveTo">
            <option value="toDo">To Do</option>
            <option value="inProgress">In Progress</option>
            <option value="completed">Completed</option>
          </select> 
        </div>
        <div class="form-group">
          <select class="form-control" [(ngModel)]="selected" name="selected">
            <option></option>
            <option *ngFor="let ele of select(this.moveFrom)" [value]="ele['title']">
              {{ele['title']}}
            </option>
        </select>
        </div>
      </form>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="submit()">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</div>